<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm">

    <xacro:macro name="arm_transmission" params="simulation">

        <!-- transmission -->
        <transmission name="trans_joint1">
            <type>transmission_interface/MultiActuatorTransmission</type>
            <actuator name="joint1_motor_left">
                <role>main</role>
                <mechanicalReduction>19.2032</mechanicalReduction>
            </actuator>
            <actuator name="joint1_motor_right">
                <role>joint1_motor_right</role>
                <mechanicalReduction>-19.2032</mechanicalReduction>
            </actuator>
            <joint name="joint1">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <offset>0.603732671447</offset>
                <mechanicalReduction>21.1677852</mechanicalReduction>
            </joint>
        </transmission>

        <transmission name="trans_joint2">
            <type>transmission_interface/MultiActuatorTransmission</type>
            <actuator name="joint2_motor_left">
                <role>main</role>
                <mechanicalReduction>19.2032</mechanicalReduction>
            </actuator>
            <actuator name="joint2_motor_right">
                <role>joint1_motor_right</role>
                <mechanicalReduction>-19.2032</mechanicalReduction>
            </actuator>
            <joint name="joint2">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <offset>0.344452874</offset>
                <mechanicalReduction>24.8384315</mechanicalReduction>
            </joint>
        </transmission>

        <transmission name="trans_joint3">
            <type>transmission_interface/MultiActuatorTransmission</type>
            <actuator name="joint3_motor_left">
                <role>main</role>
                <mechanicalReduction>19.2032</mechanicalReduction>
            </actuator>
            <actuator name="joint3_motor_right">
                <role>joint1_motor_right</role>
                <mechanicalReduction>-19.2032</mechanicalReduction>
            </actuator>
            <joint name="joint3">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <offset>0.23650836764</offset>
                <mechanicalReduction>-53.9537441</mechanicalReduction>
            </joint>
        </transmission>

        <transmission name="trans_joint4">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="joint4_motor">
                <mechanicalReduction>328.29</mechanicalReduction>
            </actuator>
            <joint name="joint4">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <offset>0.3415371896670</offset>
            </joint>
        </transmission>

        <transmission name="trans_joint5">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="joint5_motor">
                <mechanicalReduction>50.895</mechanicalReduction>
            </actuator>
            <joint name="joint5">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <offset>0.02522726716</offset>
            </joint>
        </transmission>

        <transmission name="trans_joint6">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="joint6_motor">
                <mechanicalReduction>50.895</mechanicalReduction>
            </actuator>
            <joint name="joint6">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <offset>0.83257516659</offset>
            </joint>
        </transmission>

        <transmission name="trans_joint7">
            <type>transmission_interface/SimpleTransmission</type>
            <actuator name="joint7_motor">
                <mechanicalReduction>19.2032</mechanicalReduction>
            </actuator>
            <joint name="joint7">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <offset>3.983091759055</offset>
            </joint>
        </transmission>
    </xacro:macro>

</robot>