<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="chassis">
    <xacro:macro name="chassis" params="roller_type">

        <link name="base_link">
            <inertial>
                <mass value="6.78192"/>
                <origin xyz="-0.010204 -0.005935 0.071865"/>
                <inertia ixx="4.319e-1" ixy="-3.679e-4" ixz="9.099e-3" iyy="2.759e-1" iyz="-2.652e-3" izz="3.458e-1"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://rm_description/meshes/engineer/base_link.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0. 0. 0.04" rpy="0 0 0"/>
                <geometry>
                    <box size="0.43 0.602 0.08"/>
                </geometry>
            </collision>
            <collision>
                <origin xyz="0.125 0.26625 0.3" rpy="0 0 0"/>
                <geometry>
                    <box size="0.04 0.0395 0.44"/>
                </geometry>
            </collision>
            <collision>
                <origin xyz="0.125 -0.26625 0.3" rpy="0 0 0"/>
                <geometry>
                    <box size="0.04 0.0395 0.44"/>
                </geometry>
            </collision>
            <collision>
                <origin xyz="-0.0965 0.27375 0.3" rpy="0 0 0"/>
                <geometry>
                    <box size="0.097 0.0545 0.44"/>
                </geometry>
            </collision>
            <collision>
                <origin xyz="-0.0965 -0.27375 0.3" rpy="0 0 0"/>
                <geometry>
                    <box size="0.097 0.0545 0.44"/>
                </geometry>
            </collision>
            <collision>
                <origin xyz="-0.013 0.274 0.1055" rpy="0 0 0"/>
                <geometry>
                    <box size="0.07 0.054 0.051"/>
                </geometry>
            </collision>
            <collision>
                <origin xyz="-0.013 -0.274 0.1055" rpy="0 0 0"/>
                <geometry>
                    <box size="0.07 0.054 0.051"/>
                </geometry>
            </collision>
            <collision>
                <origin xyz="0.0285 0.2685 0.5" rpy="0 0 0"/>
                <geometry>
                    <box size="0.153 0.035 0.040"/>
                </geometry>
            </collision>
            <collision>
                <origin xyz="0.0285 -0.2685 0.5" rpy="0 0 0"/>
                <geometry>
                    <box size="0.153 0.035 0.040"/>
                </geometry>
            </collision>
        </link>

    </xacro:macro>

</robot>
